@using Drag_Static_Site.Constants
@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <span>A Static Blog Made In Blazor</span>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/stephenjeffreywhite" Target="_blank" Title="Visit my Github Profile" ></MudIconButton>
    </MudAppBar>
    <MudDrawer @bind-Open="@DrawerOpen">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>
@code {
    bool DrawerOpen { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ShowOrHideNavDrawerOnLoad();
        }
        await base.OnAfterRenderAsync(firstRender).ConfigureAwait(false);
    }

    private async Task ShowOrHideNavDrawerOnLoad()
    {
        DrawerOpen = await LocalStorage.GetItemAsync<bool>(CacheKeys.MainLayout_ShowDrawer);
        await InvokeAsync(StateHasChanged).ConfigureAwait(false);
    }

    async Task DrawerToggle()
    {
        DrawerOpen = !DrawerOpen;
        await LocalStorage.SetItemAsync(CacheKeys.MainLayout_ShowDrawer, DrawerOpen).ConfigureAwait(false);
    }
}
